<header class="site-header">
    <div class="header-container">

        <div class="header-left">
            <img src="images/IMG_7802.jpg" 
                 alt="PCO Logo" 
                 class="header-logo">
                 <h1 class="site-title">Palestinian Cultural Organization</h1>
        </div>

        <nav>
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="events.html">Events</a>
            <a href="board.html">Board</a>
            <a href="sponsor.html">Sponsors</a>
            <a href="contact.html">Contact</a>
        </nav>

    </div>
</header>