<nav aria-label="Footer">
    <a href="https://webpages.charlotte.edu/labdulfa/" target="_blank" rel="noopener">CLT Web</a>
    <span class="sep">|</span>
    <a href="https://github.com/loiyFattah05" target="_blank" rel="noopener">GitHub.com</a>
    <span class="sep">|</span>
    <a href="https://loiyfattah05.github.io/" target="_blank" rel="noopener">GitHub.io</a>
    <span class="sep">|</span>
    <a href="https://www.freecodecamp.org/louifattah05" target="_blank" rel="noopener">Free Code Camp</a>
    <span class="sep">|</span>
    <a href="https://www.codecademy.com/profiles/louiFattah05" target="_blank" rel="noopener">Codecademy</a>
    <span class="sep">|</span>
    <a href="https://www.linkedin.com/in/loui-abdul-fattah-4b532b365/" target="_blank" rel="noopener">LinkedIn</a>
</nav>
<p>
    Page built by
    <a href="fattahenterprises.com/index.html" target="_blank" rel="noopener">Fattah Enterprises</a>
    &copy; 2025
</p>