<header>
    <h1>Loui Abdul-Fattah Legendary Anaconda || ITIS 3135</h1>
    <nav aria-label="Primary">
        <a href="./" aria-current="page">Home</a>
        <span class="sep">|</span>
        <a href="introduction.html">Introduction</a>
        <span class="sep">|</span>
        <a href="contract.html">Contract</a>
    </nav>
<hr "nav-divider">
    <nav aria-label="Course Websites">
        <a href="legendaryanaconda.com/index.html" target="_blank" rel="noopener">Legendary Anaconda Website</a>
        <span class="sep">|</span>
        <a href="Stuff/THIS PAGE IS HORRIble& ☺.htm" target="_blank" rel="noopener">CRAPPY Website</a></li>
        <span class="sep">|</span>
        <a href="/itis3135/website_evaluations.html" target="_blank" rel="noopener">Website Evaluation</a></li>
        <span class="sep">|</span>
        <a href="/itis3135/fccfsjs_outline.html" target="_blank" rel="noopener">FCC Full Stack JS Outline</a></li>
    </nav>
</header>