<header>
    <h1>Loui Abdul-Fattah's Legendary Anaconda || ITIS3135</h1>
    <nav aria-label="Primary">
        <a href="./" aria-current="page">Home</a>
        <span class="sep">|</span>
        <a href="introduction.html">Introduction</a>
        <span class="sep">|</span>
        <a href="contract.html">Contract</a>
        <span class="sep">|</span>
        <a href="https://webpages.charlotte.edu/labdulfa/itis3135/fccfsjs_outline.html" target="_blank" rel="noopener">FCC Full Stack JS Outline</a>
        <span class="sep">|</span>
        <a href="intro_form.html">Introduction Form</a>
    </nav>
    <hr>
    <nav aria-label="Course Websites">
        <a href="legendaryanaconda.com/index.html" target="_blank" rel="noopener">Legendary Anaconda Website</a>
        <span class="sep">|</span>
        <a href="Stuff/THIS PAGE IS HORRIble& ☺.htm" target="_blank" rel="noopener">CRAPPY Website</a>
        <span class="sep">|</span>
        <a href="https://webpages.charlotte.edu/labdulfa/itis3135/website_evaluations.html" target="_blank" rel="noopener">Website Evaluation</a>
        <span class="sep">|</span>
        <a href="https://webpages.charlotte.edu/labdulfa/itis3135/hobby/index.html" target="_blank" rel="noopener">Hobby Site </a>
    </nav>
</header>